# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
venv/
ENV/

# Large data files
*.csv
*.xlsx
*.parquet
*.db

# Reports / temporary
*.pdf
*.log

# OS-specific
.DS_Store
Thumbs.db
